:root {
    --bg-main: #0F172A;
    --bg-secondary: #020617;
    --bg-hero: #10a9b42c;

    --border: #1E293B;
    --text-secondary: #c3cbd6;

    --primary: #e2e7e8;
    --primary-hover: #9b9b9b2a;
    --primary-btn: #296c70;
    --secondary-btn: #3AAFB9;
    --primary-light: #3AAFB9;

    --gap-menu: 2em;
    --gap: 1em;
    --gap-sections: 4.5em;
}

.ligth {
    --bg-main: #F8FAFC;
    --bg-secondary: #FFFFFF;

    --text-secondary: #475569;
    --border: #E2E8F0;
    --primary: #15474c;
    --primary-hover: #76767616;
    --primary-btn: #15474c;
    --secondary-btn: #165E63;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-main);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    transition: background-color .5s ease, color .5s ease;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    padding: var(--gap-sections) 0;
}

.h1,
.h2,
.h3,
.h4 {
    color: var(--primary);
}

.p {
    color: var(--text-secondary);
    line-height: 1.7;
}

.p-description {
    text-align: center;
    text-wrap: balance;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-main);
    transition: backdrop-filter .3s ease-in-out, background-color .5s ease, color .5s ease;
    z-index: 9999;
}

.border-container {
    border-bottom: 2px solid transparent;
    padding: var(--gap) 0;
    margin: 0 var(--gap-menu) 0;
    z-index: 9999;
    transition: border-bottom .3s ease;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .container-img {
        margin: 0;
    }
}

.fx .border-container {
    border-bottom: 2px solid var(--border);
}

.fx .header {
    background-color: color-mix(in srgb, var(--bg-main), transparent 10%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.container-img {
    width: 9rem;
    margin: auto;
}

img {
    width: 100%;

}

.p-m {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.nav {
    position: fixed;
    top: var(--header-heigth);
    right: 0;
    width: 45%;
    max-width: 20em;
    height: 100vh;
    background-color: var(--bg-secondary);
    transform: translateX(100%);
    transition: transform .5s ease;

    a {
        display: block;
        opacity: 0;
        visibility: hidden;
        transform: translateX(45px);
        transition:
            transform .35s cubic-bezier(.4, 0, .2, 1),
            opacity .35s cubic-bezier(.4, 0, .2, 1),
            visibility .3s ease;
        padding: .5em;
    }

    li {
        width: 100%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 1s cubic-bezier(.4, 0, .2, 1);
    }
}

.nav.active {
    transform: translateX(0);

    a {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    li {
        border-bottom: 2px solid var(--border);
    }

    li:nth-child(1) a {
        transition-delay: .45s;
    }

    li:nth-child(2) a {
        transition-delay: .35s;
    }

    li:nth-child(3) a {
        transition-delay: .27s;
    }

    li:nth-child(4) a {
        transition-delay: .16s;
    }
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    padding-left: var(--gap);
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
    z-index: 1;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.link-btn {
    background-color: transparent;
    border: none;
    color: var(--text-secondary);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .55rem;
}

.btn {
    font-size: .9em;
    border: 1px solid var(--primary-btn);
    border-radius: var(--gap-menu);
    padding: .8em var(--gap-menu);
    transition: background-color .3s ease, border .3s ease;
}

.btn:hover {
    background-color: var(--primary-hover);
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-menu);
}

.theme-btn {
    font-size: 1.25em;
}

.toggle-menu {
    font-size: 2em;
}

.contact {
    display: none;
}

.max-width-container {
    max-width: 21em;
    margin: auto;
}

.hero--section {
    background-image: linear-gradient(138deg, var(--bg-main)45%, var(--bg-hero) 90%);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;

    .container-img {
        width: 12.5rem;
    }
}

.h1-hero {
    line-height: 1.4;
}

.h2 {
    font-size: 2rem;
}

.buttons-cta {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.contact-hero {
    background-image: linear-gradient(to top, var(--primary-btn) 60%, var(--secondary-btn));

    .p,
    i {
        color: white;
    }
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about {
    .container-img {
        width: 15em;
        border-radius: 8%;
        overflow: hidden;
        margin-top: var(--gap-menu);
    }
}

.about-content {
    gap: var(--gap-menu);
}

.about-info {
    gap: var(--gap-menu);
}

.cards-activity {
    display: grid;
    gap: var(--gap);
}

.cards {
    border: 1px solid var(--primary-btn);
    padding: var(--gap-menu);
    border-radius: .8em;
    transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;

    i {
        font-size: 1.4em;
        color: var(--text-secondary);
    }

    .titleCard {
        font-size: .9em;
        font-weight: bold;
        margin: var(--gap) 0;
    }

    .subTitleCard {
        font-size: .8em;
    }
}

.cards:hover {
    background-color: var(--primary-hover);
    box-shadow: 3px 3px 3px var(--secondary-btn);
    transform: translateY(-4px);
}

.p-tools {
    align-self: start;
    font-size: .9em;
}

.iconsTools {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
    align-self: start;

    img {
        display: block;
    }

    .tool {
        width: 3.2em;
        border: 1px solid var(--primary-btn);
        padding: .7rem;
        border-radius: .6em;
        transition: transform .6s ease;
    }

    .tool:hover {
        transform: translateY(-5px);
    }
}

.projects {
    padding: 2em 0;
    background-image: radial-gradient(circle at right 3em, var(--bg-hero), transparent 8%),
        radial-gradient(circle at left center, var(--bg-hero), transparent 20%),
        radial-gradient(circle at right bottom, var(--bg-hero), transparent 30%);
}

.section-projects {
    gap: var(--gap-menu);

    .h1 {
        text-align: left;
        align-self: start;
    }
}

.grid-projects {
    display: grid;
    gap: var(--gap-menu);
}

.cardProject {
    border: 1px solid var(--primary-btn);
    border-radius: .8em;
    overflow: hidden;
    background-color: var(--bg-main);

    .img__project {
        position: relative;
        padding: .5em;
        background-color: var(--primary-hover);

        img {
            border-radius: .3em;
            object-fit: cover;
            display: block;
        }
    }

    .accessProject {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;

        opacity: 0;
        visibility: hidden;
        transition: opacity .3s ease, visibility .3s ease;
    }

    .img__project:hover .accessProject,
    .img__project:focus-within .accessProject {
        opacity: 1;
        visibility: visible;
        background-color: #02061771;
    }

    .btn-access {
        background-color: var(--primary-btn);
        color: white;
    }

    .btn-access:focus {
        outline: 2px solid var(--primary);
        outline-offset: 3px;
    }
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .6em;
    padding: 0 var(--gap);
    height: 9em;

    p {
        font-size: .9em;
        color: var(--text-secondary);
    }
}

.info .h4 {
    display: block;
    padding-top: .8em;
}

.techs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
    font-size: .8em;
    list-style-type: none;
    margin-top: auto;
    margin-bottom: var(--gap);
}

.techs .tech {
    color: var(--text-secondary);
    cursor: default;
    padding: .4em;
    border-radius: .5em;
    border: 1px solid var(--border);
    transition: color .3s ease;
}

.techs .tech:hover {
    color: var(--hover-color);
}

.btn-more {
    opacity: 0;
    visibility: hidden;

    .p {
        margin: 0;
    }
}

.form-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap);

    background-image: radial-gradient(circle at center, var(--bg-hero), transparent 40%);

    .p {
        text-align: center;

    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

#form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-menu);
    width: 100%;

    fieldset {
        border: none;
    }

    .btn:hover {
        background-color: rgba(41, 108, 112, 0.871)
    }
}

.inputsContact {
    display: flex;
    flex-direction: column;
    gap: var(--gap-menu);
}

.field {
    color: var(--text-secondary);
    border: 1px solid var(--secondary-btn);
    border-radius: .3em;
    background-color: var(--bg-secondary);
    padding: var(--gap);
}

.txtArea {
    width: 100%;
}

.btn--submit {
    align-self: center;
    background-color: var(--primary-btn);
    color: white;

    button {
        font-weight: 600;
        color: white;
        background-color: transparent;
        border: none;
    }
}

.footer {
    padding: 9em 0 1em;
    text-align: center;
}

.socials {
    margin-top: var(--gap);
    display: flex;
    gap: var(--gap-menu);
    align-items: center;
    justify-content: center;
}

.footerContact {
    border-bottom: 1px solid var(--text-secondary);
    padding-bottom: var(--gap-menu);
    margin-bottom: var(--gap);

    .container-img {
        width: 15em;
        margin-bottom: var(--gap);
    }
}

.sm-show {
    display: revert;
}

@media screen and (width > 34em) {

    .max-width-container {
        max-width: 29em;
    }
}

@media screen and (width > 48.06em) {
    :root {
        --h1: 3rem;
        --h2: 2.8rem;
        --h4: 1.2rem;
        --icon-tool: 1.2rem;
    }

    .max-width-container {
        max-width: 40em;
    }

    .nav {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        transform: translateX(0);

        a {
            display: block;
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }

        li {
            border-bottom: none;
        }
    }

    .nav-menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        gap: var(--gap);
    }

    .border-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .p-m {
        padding: 0;
    }

    .md-hide {
        display: none;
    }

    .buttons-cta {
        flex-direction: row;
    }

    .h1-hero {
        font-size: var(--h1);
    }

    .h2 {
        font-size: var(--h2);
    }

    .h4 {
        font-size: var(--h4);
    }

    .cards-activity {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .cards {
        padding: 1.5rem;

        .titleCard {
            font-size: 1.1em;
        }
    }

    .subTitleCard {
        text-wrap: balance;
    }

    .tool {
        font-size: var(--icon-tool);
    }

    .grid-projects {
        grid-template-columns: repeat(8, 1fr);
    }

    .col-5 {
        grid-column: 1/ 5;
    }

    .col-6 {
        grid-column: 5 / -1;
    }
}

@media screen and (width > 66.31em) {
    :root {
        --h1: 3.6rem;
        --h2: 3rem;
        --h4: 1.3rem;
        --icon-tool: 1.3rem;

        --gap-sections: 7.5em;
    }

    .max-width-container {
        max-width: 80em;
    }

    .contact {
        margin-left: var(--gap);

        i {
            transform: rotate(-40deg);
        }
    }

    .container-contact,
    .contact {
        display: flex;
        gap: var(--gap);
    }

    .border-container {
        padding-left: var(--gap-sections);
        padding-right: var(--gap-sections);
    }

    .hero.max-width-container,
    .form-contact.max-width-container {
        max-width: 40em;
    }

    .about .container-img {
        width: 23em;
        margin: 0;
    }

    .about-info {
        flex: 1;
    }

    .about-content.flex-center-col {
        flex-direction: row;
    }

    .p-description {
        margin-top: var(--gap-sections);
        text-align: left;
    }

    .grid-projects {
        grid-template-columns: repeat(12, 1fr);
        gap: var(--gap);
    }

    .col-4 {
        grid-column: 1/ 4;
    }

    .col-4-7 {
        grid-column: 4 / 7;
    }

    .col-7-10 {
        grid-column: 7/10;
    }

    .col-10-12 {
        grid-column: 10/-1;
    }

    .info {
        height: 10.5em;
    }

    .footer {
        padding-top: 4em;

        .max-width-container {
            width: 65em;
        }
    }

    .footerContact {
        .container-img {
            width: 20em;
        }
    }
}